[submodule "apt"]
	path = apt
	url = http://gitlab.opensdns.com/contest/mad
[submodule "archive/mad"]
	path = archive/mad
	url = https://github.com/JarryShaw/mad/tree/archive/mad
[submodule "archive/web"]
	path = archive/web
	url = https://github.com/JarryShaw/mad/tree/archive/web
