[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
dpkt = "*"
geocoder = "*"
peewee = "*"
pymysql = "*"
requests = "*"
tensorflow = "*"
user-agents = "*"

[dev-packages]
f2format = "*"
ipython = "*"
rope = "*"
"autopep8" = "*"
pylint = "*"
pycodestyle = "*"
isort = {extras = ["pipfile", "requirements"],version = "*"}

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
